*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:linear-gradient(
    180deg,
    #ff8c00,
    #f36b00,
    #111
  );
  color:#222;
}


.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

/* HEADER */
.header{
  background:#111;
  padding:14px 0;
}

.header-flex{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.brand{
  display:flex;
  align-items:center;
  gap:12px;
  color:#fff;
  font-weight:bold;
}

.logo{
  height:46px;
}

.phone{
  color:#fff;
}

/* HERO */
.hero{
  position:relative;
  background-image:url("images/pv-bg.png");
  background-size:cover;
  background-position:center;
  padding:120px 0;
  color:#fff;
}

.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(
    135deg,
    rgba(255,120,0,0.75),
    rgba(0,70,140,0.55)
  );
}



.hero-inner{
  position:relative;
  z-index:1;
}

.hero h1{
  font-size:2.6rem;
  margin-bottom:10px;
}

.hero p{
  margin-bottom:20px;
}

/* BUTTON */
.btn{
  background:linear-gradient(135deg,#ff6a00,#ff9a00);
  color:#fff;
  font-weight:bold;
}


/* SECTIONS */
.section{
  padding:60px 0;
  text-align:center;
  background:#f5f5f5;
}


.section.dark{
  background:linear-gradient(
    135deg,
    #111,
    #ff7a00
  );
  color:#fff;
}
s

.section h2{
  margin-bottom:30px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.card{
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
  font-weight:bold;
}

/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.gallery img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:8px;
}

/* FORM */
.contact-form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.contact-form input,
.contact-form textarea{
  padding:12px;
  border-radius:6px;
  border:1px solid #ccc;
}
